/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif; /* Fuente del documento */
    margin: 0;
    padding: 0;
    background: url('/public/assets/img/sideBar-font.png') no-repeat center center fixed; /* Marca de agua */
    background-size: cover; /* Ajusta la imagen de fondo */
}

/* Estilo del encabezado */
header {
    background-color: #f0f0f0; /* Color de fondo del encabezado */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    border-bottom: 2px solid #ccc; /* Línea inferior */
}

/* Agregar el ícono al encabezado */
header img {
    width: 50px; /* Ajusta el tamaño del ícono */
    vertical-align: middle; /* Alinear verticalmente */
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

/* Estilo del pie de página */
footer {
    background-color: #f0f0f0; /* Color de fondo del pie de página */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    border-top: 2px solid #ccc; /* Línea superior */
    position: fixed; /* Fijar el pie de página */
    bottom: 0; /* Posición en la parte inferior */
    width: 100%; /* Ancho completo */
}

/* Estilo para el contenido principal */
main {
    padding: 20px; /* Espaciado interno */
    margin: 60px 0; /* Margen superior para evitar que el contenido se superponga con el encabezado */
}
